nav a {
    text-decoration: none;
    color: rgb(216, 212, 212);
    margin-right: 30px;

}

.sidebar {
    display: flex;
    gap: 50px;
    /* justify-content: center; */
    
}
.active{
    text-decoration: underline;
    color: rgb(43, 91, 180);
}