table{
    border-collapse: collapse;
}
td,th{
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size:2rem ;
    
}
/* th:hover{
    color: aqua;
    font-size: xx-large;
} */

.container{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 78px;


    
}
.sub-container{
    display: flex;
    background-color: antiquewhite;
    height: 300px;
    width: 400px;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 7px 10px black;
    /* animation: fadeUP linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%; */
}
h3:hover{
    font-size: 2em;
    color: rgb(15, 183, 189);
    cursor: pointer;
    background-image: url(/images/Rectangle\ 7.png) ;
    background-size: contain;

}
/* @keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(40px) scale(0.5);

    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);

    }
} */